body{
    background-color:lightslategray;  
    font-family: 'Montserrat', sans-serif;
}
button{
    font-family: 'Montserrat', sans-serif;
background-color: whitesmoke;
border-radius: 4px;
border: 1px solid black;

}
ul{
    list-style-type: none;
}
li{
    display: inline;
}
table{
    width: 100%;
    border: 1px solid black;
    background-color: rgb(39, 39, 39);
}
th{
    text-align: left;
 color: whitesmoke;
}
td{
 
    text-align: left;
    border: 1px solid black;
}
tr{

}
input[type=submit]{
    border-radius: 4px;
    background-color: whitesmoke;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
}
.titleDiv{
    text-align: center;
}
.navDiv{
  text-align: right;
}
.newSaveDiv{
    text-align: right;
}
.colorSortDiv{
text-align: center;
display: none;
}
.instructionsDiv{
    text-align: center;
}
.tableDiv{
    text-align: center;
}
.tableButtonSection{
text-align: center;
}
.tableButton{
    width: 60%;
}
.chCol{
    width: 8%;

}
.nameCol{
    width: 47%;
}
.patchCol{
    width: 15%;
}
.micCol{
    width: 15%;
}
.standCol{
    width: 15%;
}
.outChCol{
    width: 8%;

}
.outNameCol{
width: 60%;
}
.outPatchCol{
    width: 12%;
}
.outNotesCol{
width: 20%;
}
.editFormDiv{
    display: none;
    text-align: center;
}
.modal{
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    background-color:#f4d350;
   
    box-shadow: 10px 10px #444444;
    padding: 10%;
    border-color: black;
border-width: 12px;
border-radius: 12px;
}
.optionsModal{
    z-index: 1;
    display: none;
    text-align: center;
}
.confirmModal{
    z-index: 2;
    display: none;
    text-align: center;
}
.errorModal{
    z-index: 3;
    display: none;
    text-align: center;
}
.signupModal{
    z-index: 1;
    display: none;
}
.loginModal{
    z-index: 1;
    display: none;
}
.accountModal{
    z-index: 1;
    display: none;
    text-align: center;
}